services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=products_shop_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=2103

  # REDIS SERVISI QO'SHILDI
  redis:
    image: redis:7-alpine
    container_name: shop_redis
    ports:
      - "6379:6379"

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=products_shop_db
      - DB_USER=postgres
      - DB_PASSWORD=2103
      - DB_HOST=db
      - DB_PORT=5432
      # REDIS UCHUN MUHIT O'ZGARUVCHISI (Ixtiyoriy, lekin yaxshi amaliyot)
      - REDIS_URL=redis://redis:6379/1
    depends_on:
      - db
      - redis

volumes:
  postgres_data: